<!doctype html>
<html lang="en" dir="ltr">

<head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ff69b4">
    <meta name="description" content="🙂">
    <link rel="icon" href="./assets/favicon.05726310.ico" sizes="any">
    <link rel="icon" href="./assets/favicon.cb17c595.svg" type="image/svg+xml">
    <script type="module" crossorigin src="../static/error.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,500;1,500&family=Questrial&display=swap"
        rel="stylesheet">
</head>

<body>

    <section>
        <h1 split-by="letter" letter-animation="hover">
            404 - Error
        </h1>
    </section>

</body>

</html>